@{
    ViewData["Title"] = "Home Page";
}

    <div class="container">
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>This is a Web App where we can add, edit, delete, Employee and Department</p>
        </div>
    </div>

