@model IEnumerable<EmpDeptProject.Models.Department>
@{
    ViewData["Title"] = "Departments";
}

<partial name="_AlertPartial" />

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Department List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Departments" asp-action="Create" class="btn btn-outline-primary"><i class="bi bi-plus-circle-dotted"></i> Add Department</a>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Department Id
            </th>
            <th>
                Department Name
            </th>
            <th>
                Edit | Delete
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var c in Model)
        {
            <tr>
                <td>@c.DeptId</td>
                <td>@c.DeptName</td>
                <td>
                    <div class="btn-group m-75" role="group">
                        <a asp-controller="Departments" asp-action="Edit" asp-route-deptId="@c.DeptId" class="btn btn-outline-primary"><i class="bi bi-pencil"></i></a>
                        <a asp-controller="Departments" asp-action="Delete" asp-route-id="@c.DeptId" class="btn btn-outline-primary"><i class="bi bi-trash3"></i></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


